#home {
    background: #ddd;
}

#articles .article_date {
    color: #aaa;
    text-shadow: 0 0 1px black;
}

#articles .para_tags {
	color: lightblue;
}

#tabs li {
	box-shadow: 0 0 2px #aaa;
    background: linear-gradient(to bottom, #444 0%, #333 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);;
    color: orange;
}

#tabs li.selected {
    background: linear-gradient(to bottom, #333 0%, #222 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);;
    color: lightblue;
}

#articles .article {
	color: #eee;
	background: linear-gradient(to bottom, #444 0%, #333 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	text-shadow: 0 0 1px black;
    box-shadow: 0 0 2px #aaa;
}

#articles .delete_thought {
	color: pink;
}

#custom_css {
    background: black;
    left: 0;
    margin: 10px;
    padding: 10px;
    position: absolute;
    top: 0;
	z-index: 100;
}

#custom_css li {
	display: block;
}

#custom_css ul {
	margin: 0;
	padding: 0;
}

#page_page .open,
#articles .edit_thought {
	color: pink;
}

#home #articles .editing {
	background: #222;
}

#thought_log {
    border: 1px solid #fff;
	background: #222;
}

.green {
	color: lightgreen;
}

.brightblue {
	color: #88ffff;
}

.lightyellow {
	color: #ffff88;
}

.pink {
	color: pink;
}

.lightgreen {
	color: #cbf4c6;
}

#home #articles .black {
	background: #222;
}

#edit_profile .submit,
#register .submit,
#sign_in .submit {
    border: 1px solid pink;
    background: #424242;
    color: pink;
}

#edit_profile .submit:hover,
#register .submit:hover,
#sign_in .submit:hover {
	text-shadow: 0 0 7px pink;
}

#edit_profile label.selected,
#register label,
#sign_in label {
    color: lightblue;
}

#edit_profile label {
    color: lightgray;
}

#edit_profile span.selected {
	color: orange;
}

#write:hover {
	cursor: pointer;
	text-shadow: 0 0 10px pink;
}

#write {
    background: none repeat scroll 0 0 #222;
    border: 1px solid pink;
    color: pink;
    padding: 0 10px;
}

#notepad span {
	color: #000;
}