#home {
    background: #fff;
}

#articles .article_date {
    color: #888;
    text-shadow: 0 0 1px #fff;
}

#articles .para_tags,
#articles .para_tags a {
	color: navy;
}

#tabs li.selected {
    background: #3a5795;
	background: -moz-linear-gradient(top, #3a5795 0%, #1a3775 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #3a5795), color-stop(100%, #1a3775));
	background: -webkit-linear-gradient(top, #3a5795 0%, #1a3775 100%);
	background: -o-linear-gradient(top, #3a5795 0%, #1a3775 100%);
	background: -ms-linear-gradient(top, #3a5795 0%, #1a3775 100%);
	background: linear-gradient(to bottom, #3a5795 0%, #1a3775 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a5795', endColorstr='#1a3775', GradientType=0 );
}

#tabs li.selected,
#tabs li.selected a {
    color: #eee;
}

#thought_tags a,
#tabs li {
	background: #eee;
	background: -moz-linear-gradient(top, #eee 0%, #fff 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #eee), color-stop(100%, #fff));
	background: -webkit-linear-gradient(top, #eee 0%, #fff 100%);
	background: -o-linear-gradient(top, #eee 0%, #fff 100%);
	background: -ms-linear-gradient(top, #eee 0%, #fff 100%);
	background: linear-gradient(to bottom, #eee 0%, #fff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eee', endColorstr='#fff', GradientType=0 );
	box-shadow: 0 0 2px #aaa;
}

#thought_tags a,
#tabs li,
#tabs li a {
	color: #3a5795;
}

#articles .article {
	background: #eee;
	background: -moz-linear-gradient(top, #eee 0%, #fff 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #eee), color-stop(100%, #fff));
	background: -webkit-linear-gradient(top, #eee 0%, #fff 100%);
	background: -o-linear-gradient(top, #eee 0%, #fff 100%);
	background: -ms-linear-gradient(top, #eee 0%, #fff 100%);
	background: linear-gradient(to bottom, #eee 0%, #fff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eee', endColorstr='#fff', GradientType=0 );
	color: #333;
	text-shadow: 0 0 1px #ddd;
	box-shadow: 0 0 6px #aaa;
}

#articles .delete_thought {
	color: darkred;
}

#custom_css {
    background: none repeat scroll 0 0 black;
    left: 0;
    margin: 10px;
    padding: 10px;
    position: absolute;
    top: 0;
	z-index: 100;
}

#custom_css li {
	display: block;
}

#custom_css ul {
	margin: 0;
	padding: 0;
}

#tags {
	color: navy;
}

#text,
#title {
	color: #333;
}

#tags,
#title,
#text {
	background: #fafafa;
}

#page_page .open,
#articles .edit_thought {
	color: darkred;
}

#home #articles .editing {
	background: #fff;
}

#thought_log {
    border: 1px solid #808080;
	background: -moz-linear-gradient(0pt 100% 90deg, #444, #111) repeat scroll 0 0 #333333;
	background: #444;
	background: -moz-linear-gradient(top, #444 0%, #111 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #444), color-stop(100%, #111));
	background: -webkit-linear-gradient(top, #444 0%, #111 100%);
	background: -o-linear-gradient(top, #444 0%, #111 100%);
	background: -ms-linear-gradient(top, #444 0%, #111 100%);
	background: linear-gradient(to bottom, #444 0%, #111 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444', endColorstr='#111', GradientType=0 );
}

.green {
	color: lightgreen;
}

.brightblue {
	color: #88ffff;
}

.lightyellow {
	color: #ffff88;
}

.pink {
	color: pink;
}

.lightgreen {
	color: #cbf4c6;
}

#home #articles .black,
#home #edit_profile,
#home #register_box,
#home #sign_in_box {
	background: -moz-linear-gradient(0pt 100% 90deg, #333, #111) repeat scroll 0 0 #333333;
	background: #333;
	background: -moz-linear-gradient(top, #333 0%, #111 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #333), color-stop(100%, #111));
	background: -webkit-linear-gradient(top, #333 0%, #111 100%);
	background: -o-linear-gradient(top, #333 0%, #111 100%);
	background: -ms-linear-gradient(top, #333 0%, #111 100%);
	background: linear-gradient(to bottom, #333 0%, #111 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333', endColorstr='#111', GradientType=0 );
	text-shadow: none;
	color: #eee;
	text-shadow: 0 0 1px #000;
}

#edit_profile .submit,
#register .submit,
#sign_in .submit {
    border: 1px solid pink;
    background: #424242;
    color: pink;
}

#edit_profile .submit:hover,
#register .submit:hover,
#sign_in .submit:hover {
	text-shadow: 0 0 7px pink;
}

#edit_profile label.selected,
#register label,
#sign_in label {
    color: lightblue;
}

#edit_profile label {
    color: lightgray;
}

#edit_profile span.selected {
	color: orange;
}

#register_box .login,
#sign_in_box .sign_up {
    color: #ddd;
}

#notepad {
	color: black;
}