/* Profile */

#edit_profile {
	margin: 0;
	text-align: center;
}

#edit_profile .submit:hover {
	cursor: pointer;
}

#edit_profile label {
    display: inline-block;
	min-width: 100px;
    white-space: nowrap;
    margin-top: 5px;
}

#edit_profile .submit {
    margin: 15px;
    min-width: 50px;
}

#edit_profile .edit_me:hover {
	cursor: pointer;
}

#edit_profile .edit_me {
	font-size: 25px;
}

#edit_profile .confirm_new_password {
	display: none;
}

.edit_me {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

/* VALIDATE */

#edit_profile label.error {
	margin: 2px;
    position: absolute;
}

#edit_profile .success_symbol {
	color: #0e0;
}

#edit_profile .error_symbol {
	color: #e00;
	cursor: pointer;
}

#edit_profile .success_symbol,
#edit_profile .error_symbol {
	font-size: 20px;
	margin: 0px 5px;
	position: absolute;
	vertical-align: middle;
	left: 0;
}