#articles .article_date {
	text-transform: uppercase;
    color: #888;
    text-shadow: 0 0 1px #fff;
}

#thought_tags a:hover,
#tabs li.selected,
#tabs li.selected a {
    color: #fff;
}

#tabs li {
	background: transparent;
}

#thought_tags a,
#tabs li:hover {
	background: #eee;
}

#articles .delete_thought {
	color: darkred;
}

#custom_css {
    background: none repeat scroll 0 0 black;
    left: 0;
    margin: 10px;
    padding: 10px;
    position: absolute;
    top: 0;
	z-index: 100;
}

#custom_css li {
	display: block;
}

#custom_css ul {
	margin: 0;
	padding: 0;
}

#tags {
	color: navy;
}

#text,
#title {
	color: #333;
}

#tags,
#title,
#text {
	background: #fafafa;
}

#articles .open,
#articles .edit_thought {
	color: darkred;
}

#thought_log {
    border: 1px solid #808080;
	background: -moz-linear-gradient(0pt 100% 90deg, #444, #111) repeat scroll 0 0 #333333;
	background: #444;
	background: -moz-linear-gradient(top, #444 0%, #111 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #444), color-stop(100%, #111));
	background: -webkit-linear-gradient(top, #444 0%, #111 100%);
	background: -o-linear-gradient(top, #444 0%, #111 100%);
	background: -ms-linear-gradient(top, #444 0%, #111 100%);
	background: linear-gradient(to bottom, #444 0%, #111 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444', endColorstr='#111', GradientType=0 );
}

#register_box .login,
#sign_in_box .sign_up {
    color: #ddd;
}

#notepad {
	color: black;
}