body {
	background: #fff;
    color: #fff;
    font-family: lucida grande,helvetica,arial,sans-serif;
    font-size: 12px;
    line-height: 1.6em;
    margin: 0;
    min-height: 768px;
}

a:link,
a:visited,
a:active {
	color: #424242;
	text-decoration: none;
}

a:hover {
	cursor: pointer;
}

.hidden {
	display: none
}

.clear_both {
	clear: both;
    display: block;
    margin: 10px;
}

.unklog {
	color: hotpink;
}

#container {
	height: 100%;
    width: 100%;
    margin: 0 auto;
}

#wrapper {
	margin: 10px 0;
}

/*HOME PAGE*/

#home {
    margin: 0 auto;
    min-height: 690px;
    padding: 10px;
    position: relative;
    max-width: 1156px;
	border-radius: 0.4em;
}

#home .project_name {
	color: black;
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
	
#home .delete_thought:hover {
	cursor: pointer;
}

#search .clear_search {
    color: #777;
    font-size: 11px;
    text-decoration: underline;
}

#search .button {
	background: black;
	border: 1px solid;
	color: orange;
}

#search .button:hover{
	cursor: pointer;
}

/*ARTICLE CSS*/

#articles {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: auto;
    font-size: 12px;
}

#articles .text_container {
	height: 150px;
	overflow: hidden;
	text-align: justify;
}

#articles .text_container,
#articles .text_container p{
	padding: 0;
	margin: 0;
}

#articles .text_container .title {
    font-weight: bold;
    margin: 0 0 10px;
}

#articles .edit_thought:hover {
	cursor: pointer;
}
	
#articles .edit_thought {
	margin: 10px;
	padding: 0;
	position: absolute;
	right: -5px;
	top: -10px;
}

#articles .article {
	min-height: 200px;
	display: inline-block;
	list-style: outside none none;
	margin: 5px;
	overflow: hidden;
	padding: 15px 9px 0px;
	width: 200px;
	position: relative;
	vertical-align: top;
}

#articles .bottom {
	margin: 5px 0 0;
}

#articles .para_tags {
	margin: 15px 0 0;
    padding: 0;
    width: 180px;
    white-space: nowrap;
}

#articles .para_tags span {
	margin-right: 3px;
	font-size: 10px;
	text-transform: uppercase;
}

#articles .article_date {
    margin: -5px 0 5px;
    font-size: 10px;
}

#articles .delete_thought {
    bottom: 3px;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 5px;
    width: 10px;
}

#articles .tweet_container {
	margin: 5px 0;
}

#more {
	clear: both;
	display: block;
	margin: 5px;
	background: #424242;
	color: pink;
	border: 1px solid pink;
}

#more:hover {
	cursor: pointer;
}

/* TABS */

#tabs {
	overflow: hidden;
	position: relative;
}

#tabs li:hover {
	cursor: pointer;
}

#month_tags {
	display: none;
}

#month_tags, #menu_tags {
	margin:0;
	padding:0 0 5px;
	overflow: visible;
	width: 100%;
	white-space: nowrap;
	font-size: 0;
}

#thought_tags a,
#tabs li {
    display: inline-block;
    font-size: 12px;
    margin: 0px 2px;
    min-width: 50px;
    text-align: center;
    position: relative;
    border-radius: 0.3em;
}

#tabs li a {
    padding: 6px 10px;
}

#thought_tags a,
#tabs li a {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
}

#tabs .scroller {
	background: lightblue;
	height: 31px;
	margin: 0;
	opacity: 0.3;
	position: absolute;
	top: 0;
	width: 30px;
	z-index: 2;
	display: none;
}

#tabs .right_scroller {
	right: 0;
}

#tabs .left_scroller {
	left: 0;
}

#tabs .scroller:hover {
	cursor: pointer;
}

/* WRITE BOX */
#thought_log {
	display: none;
	margin: 0;
	padding: 5px;
	position: fixed;
	right: 10px;
	top: 50px;
	width: 450px;
	z-index: 100;
}

#thought_log .keep_write_open {
	float: right;
}

#thought_log .hide:hover {
	cursor: pointer;
}

#thought_log .hide {
    background: none repeat scroll 0 0 #ff666e;
    border-radius: 0.3em;
    float: right;
    font-size: 12px;
    margin: 2px;
    padding: 0 5px;
    vertical-align: middle;
}

#thought_log .tag:hover {
	cursor: pointer;
}

#thought_log p {
	margin: 3px;
}

#moodLog {
	color: lightBlue;
	display: none;
}

#toggleMoodLog {
	color: lightgreen;
	font-weight: bold;
}

#toggleMoodLog:hover {
	text-shadow: 0 0 5px #aaa;
	cursor: pointer;
}

#tags,
#title,
#text {
    border: none;
    width: 100%;
}
    
#tags {
    margin-top: 3px;
}

#text {
	overflow: auto;
	height: 320px;
	resize: none;
}

#text,
#title {
	border: none;
    margin: 5px 0;
	font-size: 12px;
}

#tags,
#title {
	height: 20px;
}

/* Body */

div.hr {
	display: none;
    background: none no-repeat scroll center center #fff;
    height: 1px;
    margin-bottom: 10px;
}
