#articles .open {
    position: absolute;
    right: 10px;
    top: 7px;
}

#articles .article_row div {
	vertical-align: top;
	display: inline-block;
}

#articles .main_tag_name {
	margin: 0 0 10px;
	padding: 0;
	text-transform: uppercase;
}

#articles .articles_seperator {
	border: 0;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	height: 3px;
	margin: 5px 0;
}

#page_page #thoughts_by_tag .article {
	width: 200px;
}

#page_page #articles .article_main_2 .article,
#page_page #articles .article_main_3 .article {
	display: block;
}

#page_page #articles .article_main_2 .text_container {
	height: 75px;
}

#page_page #articles .article_main_3 .text_container {
	height: 34.5px;
}

#page_page .articles_desc {
	margin: 10px 0 5px 6px;
}

#page_page .articles_desc span {
	font-weight: bold;
	padding: 4px 5px;
}