#article_page #articles .article {
	width: 620px;
}

#article_page #articles .text_container {
	height: 600px;
}

#thought_tags {
	margin-bottom: 5px;
}

#thought_tags a {
    margin: 5px;
    position: relative;
}

#article_page .ad_sense {
	background: #eee;
    display: inline-block;
    float: right;
    margin: 20px 0 20px 20px;
    padding: 10px;
}

#article_page .ad_sense div {
	margin: 20px 10px 10px;
}

#article_page .text_container .title:hover{
	cursor: text;
	color: #333;
}